* {
    box-sizing: border-box;
    outline: none;
    border: none;
    padding: 0%;
    margin: 0%;
    text-decoration: none;
}

:root {
    --warnaBG: rgb(40, 41, 49);
    --warna-textU: rgb(255, 255, 255);
    --warna-textH: rgb(126, 126, 126);
    --warna-text2U: rgb(255, 183, 0);
    --warna-text2H: rgb(144, 103, 0);
}

body {
    background-color: var(--warnaBG);
    text-decoration: none;
    color: black;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE dan Edge lama */
    font-family: "Poppins", sans-serif;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

/* nav */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.4rem 2%;
    background: linear-gradient(to right, rgb(51, 53, 63),rgb(40, 41, 49) );
    border-bottom: 1px solid black;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: 100;
}
.navbar-bar a{
    color: var(--warna-textU);
    font-size: 1.1rem;
    display: inline-block;
    margin: 0 1rem;
    transition: ease-in-out 242ms;
    font-weight: 550;
}

.navbar-bar a:hover {
    color: var(--warna-textH);
    transition: ease-in-out 242ms;
    font-weight: 550;
}

/* nav selesai */
/* beranda */
.beranda {
    height: 87.9vh;
    margin-top: 4.6rem;
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    padding: 0 4rem;
    padding-left: 13rem;
}

.beranda .isi .base64Foto .foto {
    width: 68.5vh;
    margin-right: -5vh;
}

.beranda .text h1 {
    margin-top: -5rem;
    font-size: 2rem;
    font-weight: 700;
    height: 4rem;
    padding: 12px;
    color: var(--warna-textU);
    
}

.beranda .text p {
    width: 50rem;
    font-size: 2rem;
    font-weight: 700;
    height: 4rem;
    margin-left: -160px;
    color: var(--warna-text2U);
    font-size: 38px;
}

.beranda .text .deskripsi {
    max-width: 100%;
    font-size: 1rem;
    font-weight: 500;
    height: 4rem;
    margin-left: -120px;
    color: var(--warna-textH);
    text-align: center;
}


.beranda .isi {

}

/* beranda selesai */
